@import '../../global.scss';

.todo {
  @extend %wrapper;

  margin-top: -9.2rem;

  @include s-md {
    margin-top: -14.2rem;
  }

  &__footer {
    padding-top: 4rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: -0.0194444rem;
    color: var(--nav-color);
  }
}
